/*
Paleta de Colores:
Crema #fbf8ee
Lila Claro #dddaf4
Lila Oscuro #9fa8f0
Violeta #473c8b
Violeta Oscuro #22224f
*/
/*Estilos Generales*/
@media (max-width: 768px) {
  .banner {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu {
    max-width: 50%;
  }
  .foto {
    width: 100%;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card_index {
    width: 100%;
    display: block;
  }
  .himg {
    max-width: auto;
  }
}

* {
  font-family: glacial indifference;
  background-color: #fbf8ee;
  color: #9fa8f0;
}

body h1 {
  font-size: 40px;
  color: #22224f;
  text-decoration: underline;
  font-style: bold;
}

body h2 {
  font-size: 30px;
  text-align: center;
}

body h3 {
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}

body h5 {
  color: #473c8b;
  padding: none;
}

body p {
  font-size: 20px;
}

body nav {
  color: #9fa8f0;
  list-style-type: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body h6 {
  text-align: center;
  margin: auto;
}

main {
  background-color: #fbf8ee;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .foto {
  width: 100px;
  height: 100px;
}

.header h1 {
  top: 18px;
  left: 10px;
}

/*Estilos de Home*/
.carousel {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

/*Estilos de *Componentes*/
/*Botones*/
.btn {
  background-color: #473c8b;
  color: #fbf8ee;
  text-decoration: none;
}

/*Tablas*/
#contenido {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}

#contenido td, #contenido th {
  border: 1px solid #ddd;
  padding: 8px;
}

#contenido tr:nth-child(even) {
  background-color: #f2f2f2;
}

#contenido tr:hover {
  background-color: #ddd;
}

#contenido th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #473c8b;
  color: white;
}

/*Estilos de Cards*/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.cards .item1 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  width: 18rem;
}

.cards .item2 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  width: 18rem;
}

.cards .item3 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  width: 18rem;
}

.cards .item4 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  width: 18rem;
}

.cards .item5 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  width: 18rem;
}

.cards .item6 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  width: 18rem;
}

.img_card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_card :hover {
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
  overflow: hidden;
}

/*Estilos de *Footer*/
.footer1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border-radius: 5px;
  background-color: #fbf8ee;
  position: relative;
  padding-top: 25px;
}

@media (max-width: 768px) {
  .container .column, .container input[type=submit] {
    width: 100%;
    margin-top: 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .column {
  float: right;
  width: 50%;
  margin-top: 6px;
}

.container .row:after {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: table;
  clear: both;
}

.container input[type=text], .container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #22224f;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

.container input[type=email], .container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #22224f;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

.container input[type=submit] {
  background-color: #22224f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.container input[type=submit]:hover {
  background-color: #22224f;
}

/*Estilo de -> Reciclaje*/
.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container2 .navbar {
  background-color: #e3f2fd;
  color: #473c8b;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  padding: 20px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.container2 .hparrafo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  text-align: justify;
}

.container2 .himg {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #473c8b;
}

/*Estilo de -> Institucional*/
.cuerpo_inst {
  text-align: justify;
  color: #473c8b;
}

.cuerpo_inst h3 {
  color: #473c8b;
}

.cuerpo_inst h5 {
  text-decoration: underline;
}

.texto_inst {
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=estilo.css.map */