/*
Paleta de Colores:
Crema #fbf8ee
Lila Claro #dddaf4
Lila Oscuro #9fa8f0
Violeta #473c8b
Violeta Oscuro #22224f
*/

$colorTitulo: #22224f;
$colorTexto: #9fa8f0;
$colorFondo: #fbf8ee;
$colorBorde: #22224f;
$colorSubTitulo: #473c8b;
$colorBoton: #22224f;


/*Estilos Generales*/
@media (max-width: 768px ) {
    
	.banner {
		position: relative;
		flex-direction: column;
	}

	main {
		position: relative;
		flex-direction: column;
	}
    .header__menu {
        max-width: 50%;
    }
	.foto{
		width: 100%;
	}
}

*	{
	font-family: calibri;
	background-color: $colorFondo;
	color: $colorTexto;
	margin: 1vw;
	box-sizing: border-box;
}

body {
	background-color: $colorFondo;
	color: $colorTexto;
	margin: 10px;

	h1 {
		font-size: 50px;
		margin: 50px;
		color: $colorTitulo;
		text-align: right;
		text-decoration: underline;
		font-style: bold;
	}

	h2 {
		font-size: 40px;
		text-align: center;
	}

	h3	{
		letter-spacing: 2px;
		font-size: 40px;
		text-align: center;
	}

	h5	{
		color: $colorSubTitulo;
		padding: none;
	}

	p	{
		font-size: 20px;
	}

	nav	{
		color: $colorTexto;
		list-style-type: none;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
	}
}

main	{
	background-color:$colorFondo;
		.header{
			text-align: center;
		}		
}

/*Estilos de Home*/
.banner	{
	border-style: dotted;
	border-spacing: 1px;
	border-color: $colorBorde;
	padding: 2vw;
	display: flex;
	justify-content: space-between;

	.carousel{	
		max-height: 1000px;
		max-width: 1000px;
		margin: 10px;
	}	
}

aside	{
	margin: auto;
	text-align: center;
	width: fit-content;
}

/*Estilos de *Componentes*/

/*Botones*/
.btn	{
	background-color: $colorBoton;
	color: #fbf8ee;
	text-decoration: none;
}

/*Tablas*/
#contenido {
	border-collapse: collapse;
	width: 100%;
}
	  
#contenido td, #contenido th {
border: 1px solid #ddd;
padding: 8px;
}
	  
#contenido tr:nth-child(even){background-color: #f2f2f2;}

#contenido tr:hover {background-color: #ddd;}

#contenido th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: $colorSubTitulo;
color: white;
}

/*Estilos de *Footer*/

.footer1 {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.container	{
	border-radius: 5px;
	background-color: $colorFondo;
	padding: 10px;
	position: relative;

	@media (max-width: 768px) {
		.column, input[type=submit] {
			width: 100%;
			margin-top: 0;
			position: relative;
			flex-direction: column;

		}
	  }

	  .column {
		float: right;
		width: 50%;
		margin-top: 6px;
		padding: 20px;
	  }
	  .row:after {
		position: relative;
		flex-direction: column;
		display: table;
		clear: both;
	  }

	  input[type=text], select {
		width: 100%;
		padding: 12px;
		border: 1px solid $colorTitulo;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	  }
	  
	  input[type=submit] {
		background-color: $colorTitulo;
		color: white;
		padding: 12px 20px;
		border: none;
		cursor: pointer;
	  }
	  
	  input[type=submit]:hover {
		background-color: $colorTitulo;
	  }
	
}

/*Estilos de Cards*/

.cards{
	display: grid;
	grid-template-areas: 'item1 item2 item3'
						'item4 item5 item6';
	grid-template-columns: auto auto auto; 
	
	.img_card{
		:hover{
			transform:scale(1.25,1.25);
			overflow: hidden;
		}

}

	.item1{
		grid-area: item1;
		text-align: center;
	}
	.item2{
		grid-area: item2;
		text-align: center;
	}
	.item3{
		grid-area: item3;
		text-align: center;
	}
	.item4{
		grid-area: item4;
		text-align: center;
	}
	.item5{
		grid-area: item5;
		text-align: center;
	}
	.item6{
		grid-area: item6;
		text-align: center;
	}

}

.hover{
	transform:scale(1,1.25);
	overflow: hidden;
}
	
/*Estilo de -> Reciclaje*/
.container2{
	display: flex;
	align-content: center;

	.navbar{
		background-color: #e3f2fd;
		color:  #473c8b;
		list-style-type: none;
		justify-content: space-between;
		margin: 20px;
		padding: 20px;
		align-content: space-around;
	}

	.hparrafo{
		flex-direction: column;
		font-size: 20px;
		text-align: justify;
	}

	.himg{
		display: inline-block;
	}
}

a{
	text-decoration: none;
	color: #473c8b;
}

/*Estilo de -> Institucional*/

.cuerpo_inst{
	text-align: justify;
	color: $colorTitulo;

	h4	{
		color: $colorSubTitulo;
		
	}

	h5 {
		text-decoration: underline;
	}

}
