/*
Paleta de Colores:
Crema #fbf8ee
Lila Claro #dddaf4
Lila Oscuro #9fa8f0
Violeta #473c8b
Violeta Oscuro #22224f
*/

$colorTitulo: #22224f;
$colorTexto: #9fa8f0;
$colorFondo: #fbf8ee;
$colorBorde: #22224f;
$colorSubTitulo: #473c8b;
$colorAcento: #473c8b; 
$colorBoton: #473c8b;


/*Estilos Generales*/
@media (max-width: 768px ) {
    
	.banner {
		position: relative;
		flex-direction: column;
	}

	main {
		position: relative;
		flex-direction: column;
	}
    .header__menu {
        max-width: 50%;
    }
	.foto{
		width: 100%;
	}
	.cards{
		flex-direction: column;
	}
	.card_index {
		  width: 100%;
		  display: block;
		}

	.himg {
		max-width: auto;
	}	

}

*	{
	font-family: glacial indifference;
	background-color: $colorFondo;
	color: $colorTexto;
	}

body {
	h1 {
		font-size: 40px;
		color: $colorTitulo;
		text-decoration: underline;
		font-style: bold;
	}

	h2 {
		font-size: 30px;
		text-align: center;
	}

	h3	{
		letter-spacing: 2px;
		font-size: 20px;
		text-align: center;
	}

	h5	{
		color: $colorSubTitulo;
		padding: none;
	}

	p	{
		font-size: 20px;
	}

	nav	{
		color: $colorTexto;
		list-style-type: none;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
	}

	h6	{
		text-align: center;
		
	}
}

main	{
	background-color:$colorFondo;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;	
	.foto {
		max-width: 100px;
		max-height: 100px;
	  }
	h1 {
		top: 18px;
		left: 10px;
	  }
}

/*Estilos de Home*/

.carousel {
	margin:auto;
	max-width: 90%;
	max-height: 90%;
}

/*Estilos de *Componentes*/

/*Botones*/
.btn	{
	background-color: $colorBoton;
	color: $colorFondo;
	text-decoration: none;
}

/*Tablas*/
#contenido {
	margin: auto;
	border-collapse: collapse;
	width: 80%;
}
	  
#contenido td, #contenido th {
border: 1px solid #ddd;
padding: 8px;
}
	  
#contenido tr:nth-child(even){background-color: #f2f2f2;}

#contenido tr:hover {background-color: #ddd;}

#contenido th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: $colorSubTitulo;
color: white;
}
/*Estilos de Cards*/

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
	
	.item1{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		align-content: center;
		margin-bottom: 20px;
		width: 18rem;
	}
	.item2{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		align-content: center;
		margin-bottom: 20px;
		width: 18rem;
	}
	.item3{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		align-content: center;
		margin-bottom: 20px;
		width: 18rem;
	}
	.item4{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		align-content: center;
		margin-bottom: 20px;
		width: 18rem;
	}
	.item5{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		align-content: center;
		margin-bottom: 20px;
		width: 18rem;		
	}
	.item6{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		align-content: center;
		margin-bottom: 20px;
		width: 18rem;
	}
}

.img_card{
	align-items: center;
	:hover{
		transform:scale(1.25,1.25);
		overflow: hidden;
	}
}

/*Estilos de *Footer*/

.footer1 {
	
	margin-left: auto;
	margin-right: auto;

	.foto_footer {
		max-height: 50%;
		max-width: 50%;
	}

	.foto_footer2 {
		max-width: 75%;
		border-radius: 8px;
	}
}
.container	{
	border-radius: 5px;
	background-color: $colorFondo;
	position: relative;
	padding-top: 25px;

	@media (max-width: 768px) {
		.column, input[type=submit] {
			max-width: 100%;
			margin-top: 0;
			position: relative;
			flex-direction: column;
		}
	  }

	  .column {
		float: right;
		width: 50%;
		margin-top: 6px;
	  }
	  .row:after {
		position: relative;
		flex-direction: column;
		display: table;
		clear: both;
	
	  }

	  input[type=text], select {
		width: 100%;
		padding: 10px;
		border: 1px solid $colorTitulo;
		margin-top: 6px;
		margin-bottom: 5px;
		resize: vertical;
	  }

	  input[type=email], select {
		width: 100%;
		padding: 10px;
		border: 1px solid $colorTitulo;
		margin-top: 6px;
		margin-bottom: 5px;
		resize: vertical;
	  }
	  
	  input[type=submit] {
		background-color: $colorTitulo;
		color: white;
		padding: 12px 20px;
		border: none;
		cursor: pointer;
	  }
	  
	  input[type=submit]:hover {
		background-color: $colorTitulo;
	  }
	
}
	
/*Estilo de -> Reciclaje*/
.container2{
	display: flex;
	align-content: center;

	.navbar{
		background-color: #e3f2fd;
		color:  #473c8b;
		list-style-type: none;
		justify-content: space-between;
		margin: 20px;
		padding: 20px;
		align-content: space-around;
	}

	.hparrafo{
		flex-direction: column;
		font-size: 20px;
		text-align: justify;
	}

	.himg{
		display: inline-block;
	}
}

a{
	text-decoration: none;
	color: #473c8b;
}

/*Estilo de -> Institucional*/

.cuerpo_inst{
	text-align: justify;
	color: $colorSubTitulo;

	h3	{
		color: $colorSubTitulo;
	}
	h5 {
		text-decoration: underline;
	}
}

.texto_inst {
	margin-left: auto;
	margin-right: auto;
}